.content-detail {
    padding-bottom: 5%;
    padding-top: 5%;
    color: white
}
  
.content-image {
    position: relative;
    width: 100%;
    height: 100%;
}
  
.left-content {
}
.right-content {
}

.content-logo {
    margin-top: 10%;
    height: 60px;
    width: 70px;
    margin-right: 0.5em;
}

.content-attribute {
    margin-top: 2%;
    display: flex;
    flex: row;
    text-transform: uppercase;
}

.content-right-atribute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

